body{
  background-image: linear-gradient(to bottom right, white, blue);
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #00026b;
  text-align:center;
  font-size: 36px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  color: #00026b;
  text-align:left;
  font-size: 24px;
}

form {
  padding: 100px 600px 600px 10px;
}
